.User {
    margin-top: 130px;
    margin-left: 10%;
    margin-right: 10%;

    padding-top: 50px;
    padding-bottom: 30px;
}

.Top {
    margin-top: 130px;
    margin-left: 10%;
    margin-right: 10%;

    padding-top: 100px;
    padding-bottom: 80px;
}

.Icon {
    width: 150px;
    height: 150px;
    margin-top: 15px;
}

.UserButton {
    margin-top: 20px;

    padding-left: 50px;
    padding-right: 50px;
}

.TopButton {
    margin-top: 100px;

    padding-left: 50px;
    padding-right: 50px;
}